<h1><%= "#{@player.name}'s Games" %></h1>
<% @player_games.each do |game| %>
    <h3><%= game.name %></h3>
    <p> Is Installed: <%= game.is_installed %></p>
    <p> Hours Played: <%= game.hours_played %></p>
<% end %>