<h1>Players</h1>
<% @players.each do |player| %>
<ul>
    <li><%= player.created_at %> <%= player.name %></li>
    <%= button_to "Edit #{player.name}", "/players/#{player.id}/edit", method: :get %>
</ul>
<% end %>

<%= link_to 'New Player', '/players/new' %>